@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
}  

body {
    font-family: 'Space Mono',monospace, arial !important;
    background-image: url('../resources/images/bkgndImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

header {
    height: 10%;
    position: fixed;
    top: 0;
    background-color: rgba(29, 29, 27, 0.9);
    color: #F2F4F3;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

h1{
    padding: 0.5rem !important;
    font-size: 2rem !important;
    color: #FFF;
}

.navigationList {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.navigationList li{
    font-size: 1.2rem !important;
}

.navigationList li:hover{
    color: white;
    cursor: pointer;
}

main {
    margin-top: 8%;
}

#aboutMe{
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    align-items: center;
}

.imageContainer{
    position: absolute;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;
    border: rgb(29, 29, 27) 0.8rem solid;
}

#profPic{
    height: auto;
    max-width: 100%;
}

.infoText {
    width: 94%;
   display: flex;
    justify-self: flex-end;
    align-content: center;
    padding: 0.5rem;
    height: 90%;
    color: #F2F4F3;
    background-color: rgba(29, 29, 27, 0.9);
    justify-content: flex-end;
}

.text_container {
    width: 82%;
    line-height: 1.5;
}
.infoText h2{
    font-size: 1.5rem !important;
    color: #3BC14A;
}
.infoText p {
    width: fit-content;
}